@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  background: #1f1f1f;
  color: rgb(230, 230, 230)
}

body {
  font-family: 'Poppins', sans-serif;
  font: 400;
  font-style: normal;
}

.title {
  padding: 1rem;
  align-items: center;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

.form-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: #ffffff solid 2px;
  border-radius: 1.5rem;
  min-height: 70vh;
  /* max-width: 30rem; */
  min-width: 30rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  font-size: 32px;
  padding-top: 1rem;
}

.reply-container {
  display: flex;
  flex-direction: column;
}