@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0)
}

html {
  height: 100%
}

body {
  font-family: "Open Sans", sans-serif;
  font: 400;
  font-style: normal;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,180,255,1) 61%, rgba(0,133,255,1) 100%);
}

.title {
  padding: 1rem;
  padding-top: 4rem;
  align-items: center;
  text-align: center;
  font-size: 24px;
  /* text-decoration: underline; */
}

.form-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: #ffffff solid 2px;
  border-radius: 1.5rem;
  text-align: center;
  min-height: 50vh;
  max-width: max-content;
  min-width: 30rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}

.label-container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 18px;
  padding-top: 1rem;
}

.label-mri {
  font-size: 48px;
  font-weight: 600;
  /* padding-top: 1rem; */
}

.reply-container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}